body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: tomato;
}
#regnestykke {
    z-index: 1;
    outline: none;
    position: absolute;
    width: 376px;
    margin: 2px;
    height: 80px;
    top: 43px;
    left: calc(50% - 125px);
    font-size: 40px;
}
#calculator {
    position: absolute;
    left: calc(50% - 256px);
    top: 40px;
}
.button {
    outline: none;
    width: 120px;
    font-size: 40px;
    margin: 2px;
    height: 80px;
}
#overskrift{
    width: 300px;
    text-align: center;
    text-decoration: underline;
    margin: 20px;
    height: 40px;
    font-size: 40px;
    margin-left: calc(50% - 150px);
}
#toggle_eval{
    position: absolute;
    width: 504px;
    height: 80px;
    left: calc(50% - 251px);
    font-size: 40px;
    bottom: 39px;
}
.info {
    text-align: center; 
    width: 300px; 
    margin-left: 100px;
}